@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="change-password background-page flex-properties-c">

    <div class="flex-properties-c">
        <span class="messages-1">Alteração de Senha</span>
        <form class="flex-properties-c" method="post" action="/Account/ChangePassword">
            @Html.AntiForgeryToken()
            <input type="password" class="form-control input-login" placeholder="Antiga Senha" name="Password" id="Password">
            <input type="password" class="form-control input-login" placeholder="Nova Senha" name="NewPassword" id="NewPassword">
            <input type="password" class="form-control input-login" placeholder="Confirme a Nova Senha" name="ConfirmPassword" id="ConfirmPassword">
            <button class="btn btn-primary btn-lg darkblue-bg btn-login">Enviar</button>
        </form>
    </div>
</section>