<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/colors.css">
    <link rel="stylesheet" href="~/Content/css/spectrum.css">

    <title></title>
</head>


<body>

    <!-- Início do Layout -->

    <header>
        <div><p class="txtlogo logo-hidden icon-white"><a href="Inicio.html"><span id="txt-task">Task</span><span id="txt-quest">Quest</span></span></a></p></div>
        <div class="icon-container mobile-hidden"><li class="li-hidden"><i class="fa fa-group" aria-hidden="true"></i></li></div>
        <div class="icon-container mobile-hidden"><li class="li-hidden"><i class="fa fa-check" aria-hidden="true"></i></li></div>
        <div class="icon-container"><li class="li-hidden"><i class="fa fa-bell" aria-hidden="true"></i></li></div>
        <div class="icon-container icon-white">
            <li class="dropdown li-hidden">
                <a class="header-a" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-target="#modalCadastro" data-toggle="modal">Criar Grupo</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Criar Quest</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Visualizar Perfil</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Configurações</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-minus-circle" aria-hidden="true"></i> Sair</a></li>
                </ul>
            </li>
        </div>
    </header>

    <section class="pads-bot">

        <div class="flex-properties-r margintop">
            <div class="title-a"><h2>FEEDBACK</h2></div>
            <div class="title-b">
                <div class="flex-properties-r pads icon-black">
                    <i class="fa fa-caret-down elipse" aria-hidden="true"></i>
                    <h3 class=""><a href="">Ver Todas</a></h3>
                </div>
            </div>
        </div>

        <div class="container flex-properties-r margintop">

            <div class="margin-bottom item">
                <div class="tory-blue-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Fazer Diagramas</h4></div>
                    <div class="limit-lines"><h4>Ficou muito bom, parabéns :)</h4></div>
                    <div><h1>5</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="margin-bottom item">
                <div class="sea-green-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Fazer Monografia</h4></div>
                    <div class="limit-lines"><h4>Passou um pouco do prazo.</h4></div>
                    <div><h1>3</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="margin-bottom item">
                <div class="vivid-violet-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Modelar Banco</h4></div>
                    <div class="limit-lines"><h4>Ficou muito ruim, tem que melhorar</h4></div>
                    <div><h1>0</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="margin-bottom item">
                <div class="cardinal-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

            <div class="item">
                <div class="emperror-bg filete"></div>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>Relatório Semanal</h4></div>
                    <div class="limit-lines"><h4>Os relatórios foram entregues.</h4></div>
                    <div><h1>4</h1></div>
                    <div>04/07/2017</div>
                </div>
            </div>

        </div>

    </section>

    <script src="~Content/js/jquery.min.js"></script>
    <script src="~Content/js/bootstrap.min.js"></script>
    <script src="~Content/js/spectrum.js"></script>
    <script src="~Content/js/spectrum.config.js"></script>

</body>
</html>