@model List<TaskQuest.Models.Feedback>

@{ 
    ViewBag.Title = "Feedbacks";
}

<section class="pads-bot">

    <div class="flex-properties-r">
        <div class="title-a"><h2>FEEDBACK</h2></div>
        <div class="title-b">
            <div class="flex-properties-r pads icon-black">
                <i class="fa fa-caret-down elipse" aria-hidden="true"></i>
                <h3 class=""><a href="">Ver Todas</a></h3>
            </div>
        </div>
    </div>

    <div class="container flex-properties-r margintop">

        <div class="margin-bottom item">
            <div class="tory-blue-bg filete"></div>
            <div class="quest-body flex-properties-c">
                <div class="limit-lines"><h4>Fazer Diagramas</h4></div>
                <div class="limit-lines"><h4>Ficou muito bom, parabéns :)</h4></div>
                <div><h1>5</h1></div>
                <div>04/07/2017</div>
            </div>
        </div>

    </div>

</section>