@model TaskQuest.ViewModels.LoginViewModel

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Task Quest</title>

    @Styles.Render("~/Content/index-css")
    @Scripts.Render("~/bundles/index-js")


</head>

<body>

<header class="navbar navbar-inverse navbar-fixed-top open">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/Home/Index"><img src="~/Content/img/kakaka.png" alt="Logo"></a>
        </div>
        <div class="navbar-collapse collapse">
            <form action="/Home/Login" method="post">
                <ul class="nav navbar-nav navbar-right inputs">
                    <li><input name="Email" id="Email" class="form-control login" placeholder="Email" /></li>
                    <li><input name="Senha" id="Senha" class="form-control login" placeholder="Senha" /></li>
                    <li>
                        <input type="submit" class="btn btn-primary btn-lg btn-header darkblue-bg" value="Entrar">
                        <div>
                            <a href="" id="forget">Esqueceu sua senha?</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</header>

<div id="modalCadastro" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="logomod"></div>
                <h4 class="modal-title">Cadastro</h4>
            </div>
            @Html.Partial("_RegisterPartial")
        </div>
    </div>
</div>

<section id="banner-grupo-trabalho">
    <div class="container">
        <div class="row header-info">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1 class="wow fadeIn cor">Comunique, organize e motive em grupo</h1>
                <br/>
                <p class="lead wow fadeIn" data-wow-delay="0.5s">O software ideal para aumentar a produtividade de
                    equipes</p>
                <div>
                    <a href="#invite" class="btn btn-primary btn-lg scroll text-left wow fadeInUp">Inscreva-se</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mouse-icon hidden-xs">
    <div class="scroll"></div>
</div>

<section id="banner-felicidade" class="pad-xl centralize-v">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
                <h2>Organize suas atividades, comunique-se em grupo e seja feliz!</h2>
            </div>
        </div>
    </div>
</section>


<section id="banner-grafico" class="pad-xl centralize-v">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
                <h2>Classifique suas atividades em Quests e Tasks.</h2>
            </div>
        </div>
    </div>
</section>

<section id="main-info" class="pad-xl2">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
                <h2 class="title">Milhares de recursos para a realização de suas tarefas </h2>
            </div>
            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="0.4s">
                <i class="fa fa-commenting fa-settings"></i>
                <hr class="line purple">
                <h3>Mensagens</h3>
                <p>Comunique-se com todos de sua equipe</p>
            </div>
            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="0.8s">
                <i class="fa fa-line-chart fa-settings"></i>
                <hr class="line blue">
                <h3>Gráfico</h3>
                <p>Observe o progresso individual e coletivo dos processos</p>
            </div>
            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="1.2s">
                <i class="fa fa-users fa-settings"></i>
                <hr class="line yellow">
                <h3>Grupos</h3>
                <p>Crie ou participe de um grupo para realizar tarefas em equipe</p>
            </div>

            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="0.4s">
                <i class="fa fa-tasks fa-settings"></i>
                <hr class="line purple">
                <h3>Progresso</h3>
                <p>Visualize rapidamente o que foi feito para concluir uma tarefa</p>
            </div>
            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="0.8s">
                <i class="fa fa-level-up fa-settings"></i>
                <hr class="line blue">
                <h3>Experiência</h3>
                <p>A cada tarefa concretizada, ganhe experiência que reflete sua eficiência</p>
            </div>
            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="1.2s">
                <i class="fa fa-lock fa-settings"></i>
                <hr class="line yellow">
                <h3>Segurança</h3>
                <p>Todas as suas informações e tarefas armazenadas de forma segura</p>
            </div>

        </div>
    </div>
</section>


<!--Pricing-->
<section id="pricing" class="pad-lg2">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="white">Planos</h2>
                <p class="white">Assine as versões Premium e ganhe diversos benefícios no serviço.</p>
            </div>
        </div>

        <div class="row margin-50">
            <div class="centralize-h-1">
                <div class="centralize-h-2">

                    <div class="col-md-6 pricing-container wow fadeInUp" data-wow-delay="0.1s">
                        <ul class="list-unstyled pricing-table text-center">
                            <li class="headline"><h5 class="white">Plano Free</h5></li>
                            <li class="price">
                                <div class="amount">Grátis</div>
                            </li>
                            <li class="info">As funcionalidades básicas do sistema</li>
                            <li class="features first">Crie grupos e tarefas</li>
                            <li class="features">Mande mensagens para integrantes do grupo</li>
                            <li class="features">Organize suas tarefas</li>
                            <li class="features last btn btn-secondary btn-wide"><a href="#">Começar</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 pricing-container wow fadeInUp" data-wow-delay="0.3s">
                        <ul class="list-unstyled pricing-table text-center">
                            <li class="headline"><h5 class="white">User Premium</h5></li>
                            <li class="price">
                                <div class="amount">R$100
                                    <small>/m</small>
                                </div>
                            </li>
                            <li class="info">Adiciona funcionalidades ao sistema</li>
                            <li class="features first">Participe de infinitos de grupos</li>
                            <li class="features">Seja administrador de todos eles</li>
                            <li class="features">Visualize o progresso das atividades do grupo</li>
                            <li class="features last btn btn-secondary btn-wide"><a href="#">Começar</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>


<section id="invite" class="pad-lg light-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <i class="fa fa-envelope-o margin-40"></i>
                <h2 class="black">Cadastre-se!</h2>
                <br/>
                <p class="black">Inscreva-se agora e comece já a utilizar o sitema</p>
                <br/>

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn-primary btn-lg " data-toggle="modal"
                                data-target="#modalCadastro">Começar
                        </button>
                    </div>
                </div><!--End Form row-->

            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">
            <ul class="list-inline social social2">
                <div class="col-md-4 marginsocial">
                    <li class="marginicon">Sobre a empresa</li>
                    <li><a href="#"><i class="fa fa-facebook tamanho"></i></a></li>
                </div>
                <div class="col-md-4 marginsocial">
                    <li class="marginicon">Produtos</li>
                    <li><a href="#"><i class="fa fa-twitter tamanho"></i></a></li>
                </div>
                <div class="col-md-4 marginsocial">
                    <li class="marginicon">Institucional</li>
                    <li><a href="#"><i class="fa fa-pinterest tamanho"></i></a></li>
                </div>
                <div class="col-sm-4 text-center col-md-12">
                    <p class="cpright">
                        <small>Copyright &copy; 2017. Todos os direitos reservados.
                            Criado por <a href="/" target="_blank">Task Quest SA</a></small>
                    </p>
                </div>
            </ul>
        </div>

    </div>
</footer>

</body>
</html>
