<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/configuracoes.css">
    <link rel="stylesheet" href="~/Content/css/colors.css">
    <link rel="stylesheet" href="~/Content/css/spectrum.css">



    <title></title>
</head>


<body>

    <!-- Início do Layout -->

    <header>
        <div><p class="txtlogo logo-hidden icon-white"><a href="Inicio.html"><span id="txt-task">Task</span><span id="txt-quest">Quest</span></span></a></p></div>
        <div class="icon-container mobile-hidden"><li class="li-hidden"><i class="fa fa-group" aria-hidden="true"></i></li></div>
        <div class="icon-container mobile-hidden"><li class="li-hidden"><i class="fa fa-check" aria-hidden="true"></i></li></div>
        <div class="icon-container"><li class="li-hidden"><i class="fa fa-bell" aria-hidden="true"></i></li></div>
        <div class="icon-container">
            <li class="dropdown li-hidden icon-white">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-target="#modalCadastro" data-toggle="modal">Criar Grupo</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Criar Quest</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Visualizar Perfil</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Configurações</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-minus-circle" aria-hidden="true"></i> Sair</a></li>
                </ul>
            </li>
        </div>
    </header>

    <div class="flex-properties-r subtitulo">
        <div class="title-a"><h2>Configuração de Usuário</h2></div>
        <div class="title-b"><div class="pads"></div></div>
    </div>

    <section>
        <div class="container">
            <div id="chartContainer"></div>
        </div>
    </section>

    <hr class="container quebra"></hr>

    <section class="container">
        <div><h1 class="title">Informações Pessoais</h1></div>
        <form id="formUsuario">
            <div class="flex-properties-r">
                <div>
                    <input type="text" class="form-control" value="Bruno" name="Nome" id="Nome" required>
                    <label for="Nome"></label>
                </div>
                <div>
                    <input type="text" class="form-control" value="Santos" name="Sobrenome" id="Sobrenome" required>
                    <label for="Sobrenome"></label>
                </div>
                <div>
                    <input type="date" class="form-control" name="DataNascimento" id="DataNascimento" value="1997-07-04" required>
                    <label for="DataNascimento"></label>
                </div>
                <div>
                    <input type="text" class="form-control" value="bruno@email.com" name="Email" id="Email" required>
                    <label for="Email"></label>
                </div>
                <div>
                    <input type="password" class="form-control" value="senha123456" name="Senha" id="Senha" required>
                    <label for="Senha"></label>
                </div>
                <div>
                    <input type="password" class="form-control" value="senha123456" name="ConfirmarSenha" id="ConfirmarSenha" required>
                    <label for="ConfirmarSenha"></label>
                </div>
            </div>
            <div class="color-container">
                <p>Escolha sua cor</p>
                <input type="hidden" id="Cor" name="Cor" value="106494">
            </div>
            <div class="btn-container"><input type="submit" class="btn btn-secondary btn-cg" value="Salvar" /></div>
        </form>
    </section>

    <hr class="container quebra"></hr>

    <section class="container">
        <div class="title flex-properties-r">
            <h1>Telefones</h1>
            <li class="li-hidden icon-black"><a href="#" data-target="#modalTelefone" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
        </div>
        <form id="formTelefone">
            <div class="flex-properties-r">
                <li class="li-hidden icon-black">
                    <a onclick="submit('formTelefone', '/Configuracao/EditarTelefone')"><i class="fa fa-save" aria-hidden="true"></i></a>
                </li>
                <div>
                    <input type="text" class="form-control" value="(12)99785-4575" name="TipoTelefone" id="TipoTelefone">
                    <label for="TipoTelefone"></label>
                </div>
                <div>
                    <input type="text" class="form-control TelefoneNumero" value="(12)99785-4575" name="TelefoneNumero" id="TelefoneNumero">
                    <label for="TelefoneNumero"></label>
                </div>
                <li class="li-hidden icon-black">
                    <a onclick="submit('formTelefone', '/Configuracao/ExcluirTelefone')"><i class="fa fa-remove" aria-hidden="true"></i></a>
                </li>
            </div>
        </form>
    </section>

    <hr class="container quebra"></hr>

    <section class="container">
        <div class="title flex-properties-r">
            <h1>Cartões</h1>
            <li class="li-hidden icon-black"><a href="#" data-target="#modalCartao" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
        </div>
        <form id="formCartao">
            <div class="flex-properties-r">
                <li class="li-hidden icon-black"><a onclick="submit('formCartao', '/Configuracao/EditarCartao')"><i class="fa fa-save" aria-hidden="true"></i></a></li>
                <div id="cartao-input-container" class="flex-properties-r">
                    <div>
                        <input type="text" class="form-control" value="BRUNO R DOS SANTOS" name="NomeCartao" id="NomeCartao" placeholder="Nome do Titular" required>
                        <label for="NomeCartao"></label>
                    </div>
                    <div>
                        <input type="text" class="form-control" value="Visa" name="Bandeira" id="Bandeira" placeholder="Bandeira" required>
                        <label for="Bandeira"></label>
                    </div>
                    <div>
                        <input type="text" class="form-control NumeroCartao" value="1234567891234567" name="Numero" id="Numero" placeholder="Número do Cartão" required>
                        <label for="Numero"></label>
                    </div>
                    <div>
                        <input type="password" class="form-control CodigoSeguranca" value="123" name="CodigoSeguranca" id="CodigoSeguranca" placeholder="Código de Segurança" required>
                        <label for="CodigoSeguranca"></label>
                    </div>
                    <div>
                        <input type="date" class="form-control" name="DataVencimento" id="DataVencimento" value="1997-07-04" required>
                        <label for="DataVencimento"></label>
                    </div>
                    <div>
                        <input type="password" class="form-control SenhaCartao" value="123456" name="SenhaCartao" id="SenhaCartao" placeholder="Senha" required>
                        <label for="SenhaCartao"></label>
                    </div>
                </div>
                <li class="li-hidden icon-black"><a onclick="submit('formCartao', '/Configuracao/ExcluirCartao')"><i class="fa fa-remove" aria-hidden="true"></i></a></li>
            </div>
        </form>
    </section>

    <div class="modal fade" id="modalTelefone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Adicionar Telefone</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formTelefoneModal">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="TipoTelefoneModal" name="TipoTelefoneModal" placeholder="Tipo de Telefone" required>
                            <label for="TipoTelefoneModal"></label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control TelefoneNumero" id="TelefoneNumeroModal" name="TelefoneNumeroModal" placeholder="Numero de Telefone" maxlength="15" required>
                            <label for="TelefoneNumeroModal"></label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-secondary btn-cg" value="Salvar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr class="container quebra"></hr>

    <div class="modal fade" id="modalCartao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Adicionar Cartão</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formCartaoModal">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="NomeCartaoModal" id="Nome" placeholder="Nome do Titular" required>
                            <label for="NumeroCartaoModal"></label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="BandeiraModal" id="Bandeira" placeholder="Bandeira" required>
                            <label for="BandeiraModal"></label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control NumeroCartao" name="NumeroModal" id="Numero" placeholder="Número do Cartão" required>
                            <label for="NumeroModal"></label>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control CodigoSeguranca" name="CodigoSegurancaModal" id="CodigoSeguranca" placeholder="Código de Segurança" required>
                            <label for="CodigoSegurancaModal"></label>
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" name="DataVencimentoModal" id="DataVencimentoModal" placeholder="Data de Vencimento" required>
                            <label for="DataVencimentoModal"></label>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="SenhaCartaoModal" id="SenhaCartaoModal" placeholder="Senha" required>
                            <label for="SenhaCartaoModal"></label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-secondary btn-cg" value="Salvar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~Content/js/jquery.min.js"></script>
    <script src="~Content/js/bootstrap.min.js"></script>
    <script src="~Content/js/spectrum.js"></script>
    <script src="~Content/js/spectrum.config.js"></script>
    <script src="~Content/js/canvas/canvasjs.min.js"></script>
    <script src="~Content/js/graphics.js"></script>
    <script src="~Content/js/jquery.validate.js"></script>
    <script src="~Content/js/jquery.mask.js"></script>
    <script src="~Content/js/configuracoes.js"></script>

</body>
</html>