@model List<TaskQuest.ViewModels.ContatoViewModel>

@{
    ViewBag.Title = "NovoChat";
    Layout = "_LayoutChat";
}

<!--Tela do Chat-->
<div id="divChat" class="container-fluid">
    <br />
    <div class="background-chat">
        <div id="users" class="row">
            <div class="col-lg-2 users">
                <input class="search form-control" placeholder="Buscar Nome" />
                <ul id="divusers" class="nav nav-pills nav-stacked lista-usuarios-chat list">
                    <!--Somente o Tab Home é fixo pro enquanto-->
                    @for (int x = 0; x < Model.Count; x++)
                    {
                        <li class="nome-@x nome"><a onclick="tab('@x')" data-toggle="tab">@Model[x].Nome</a></li>
                    }
                </ul>
            </div>
            <div class="col-lg-10">
                <h1 class="text-center">Bem Vindo: <strong><span id='spanUser'></span></strong></h1>
                <br />
                <div id="ChatTab" class="row tab-content">
                    <div id="Home" class="tab-pane fade in active chat-home">
                        <div class="container-fluid">
                            <!--Chat Principal do GRUPO-->
                            <div id="divChatWindow" class="row campo-texto">
                                @for (int x = 0; x < Model.Count; x++)
                                {
                                    <div id="@x" style="display:none">
                                        @for (int y = 0; y < Model[x].Mensagens.Count; y++)
                                        {
                                            <div class="message">@Model[x].Mensagens[y].Conteudo</div>
                                        }
                                    </div>
                                }
                            </div>
                            <!--Botões do chat principal-->
                            <div class="row chat-stuff">
                                <div class="center-block position-absolute-botton">
                                    <div class="col-lg-11">
                                        <input class="form-control" type="text" id="txtMessage" />
                                    </div>
                                    <div class="col-lg-1">
                                        <input id="btnSendMsg" type="button" value="Enviar" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="hdId" type="hidden" />
    <input id="hdUserName" type="hidden" />
</div>

@section scripts {
    <!--Referências Script. -->
    <!--Reference do jQuery. -->
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <!--Reference do Bootstrap. -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!--Reference do SignalR. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--LIST JS-->
    <script src="~/Content/js/list.min.js"></script>
    <!--Script da aplicação SignalR-->
    <script src="~/Content/js/chat.js"></script>

    <script>
        var options = {
            valueNames: ['name']
        };

        var userList = new List('users', options);
    </script>
}