@model List<TaskQuest.ViewModels.ContatoViewModel>

@{
    ViewBag.Title = "Chat";
}

@section js{
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Content/js/chat.js"></script>
}

<input type="text" id="textInput" />
<button id="btnSend">Enviar</button>
<div id="feedback"></div>

@section scripts {
    <!--Referências Script. -->
    <!--Reference do jQuery. -->
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <!--Reference do Bootstrap. -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!--Reference do SignalR. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--LIST JS-->
    <script src="~/Content/js/list.min.js"></script>
    <!--Script da aplicação SignalR-->
    <script src="~/Content/js/chat.js"></script>

    <script>
        var options = {
            valueNames: ['name']
        };

        var userList = new List('users', options);
    </script>
}