@model TaskQuest.ViewModels.AdicionarUsuarioGrupoViewModel

<div id="modalAdicionarUsuario" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Adicionar Usuário</h2>
			</div>

			@using (Html.BeginForm("AdicionarUsuarioGrupo", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
				<div class="modal-body titles">
					<h3>Digite o e-mail do usuário que deseja adicionar.</h3>
                    @Html.HiddenFor(m => m.gru_id)
					@Html.TextBoxFor(m => m.Email, new { @class="form-control inputs", required = "" })
				</div>

				<div class="modal-footer">
					<input type="submit" class="btn btn-primary btn-modal" value="Enviar">
				</div>
			}
		</div>

	</div>
</div>