<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/balloon.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/colors.css" rel="stylesheet" />
    <link href="~/Content/css/estilo.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/ie.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/spectrum.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/balloon.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/graphics.js"></script>
    <script src="~/Content/js/jquery.mask.js"></script>
    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/spectrum.config.js"></script>
    <script src="~/Content/js/spectrum.js"></script>
    
    @RenderSection("head", false)

</head>
    
<body>

	<header>
		<div class="container ">
				<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 divimg headercont">
			            <a class="logo" href="/Home/Grupos"><img src="~/Content/img/kakaka.png" alt="Logo"></a>
			    </div>

			    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 divcontent">
				    	<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell fa-settings" aria-hidden="true"></i><span class="caret"></span></a>
			          <ul class="dropdown-menu drop-notification">
			            <li><a>Notificações</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a>Conteúdo</a></li>
			          </ul>
			        </li>
			   </div>
			    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 divcontent">
			    	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars fa-settings" aria-hidden="true"></i><span class="caret"></span></a>
		          <ul class="dropdown-menu drop-menu">
		            <li><a href="#">Peguntas Frequentes</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="/Home/Usuario">Configurações</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="/Account/SignOutEverywhere"><i class="fa fa-minus-circle" aria-hidden="true"></i> Sair</a></li>
		          </ul>
		        </li>
		    </div>
		</div>
	</header>

	@RenderBody()

    @if (TempData["Result"] != null && TempData["Class"] != null)
    {
        @Html.Partial("_BalloonPartial", new Tuple<string, string>(TempData["Result"].ToString(), TempData["Class"].ToString()))
    }
</body>
</html>
