<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Layout</title>

    <!-- Styles -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/layout.css">

<body>

	<header>
		<div class="container ">
				<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 divimg headercont">
			            <a class="logo" href="index.html"><img src="img/kakaka.png" alt="Logo"></a>
			    </div>

			    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 divcontent">
				    	<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell fa-settings" aria-hidden="true"></i><span class="caret"></span></a>
			          <ul class="dropdown-menu drop-notification">
			            <li><a>Notificações</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a>Conteúdo</a></li>
			          </ul>
			        </li>
			   </div>
			    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 divcontent">
			    	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars fa-settings" aria-hidden="true"></i><span class="caret"></span></a>
		          <ul class="dropdown-menu drop-menu">
		            <li><a href="#">Peguntas Frequentes</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Configurações</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Sair</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#"><i class="fa fa-minus-circle" aria-hidden="true"></i> Sair</a></li>
		          </ul>
		        </li>
		    </div>
		</div>
	</header>

	@RenderBody()

<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>