<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/layout-css")

    @RenderSection("head", false)

</head>
    
<body>

	<header>
		<div class="container ">
				<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 divimg headercont">
			            <a class="logo" href="/Home/Inicio"><img src="~/Content/img/kakaka.png" alt="Logo"></a>
			    </div>

			    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 divcontent">
				    	<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell fa-settings" aria-hidden="true"></i><span class="caret"></span></a>
			          <ul class="dropdown-menu drop-notification">
			            <li><a>Notificações</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a>Conteúdo</a></li>
			          </ul>
			        </li>
			   </div>
			    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 divcontent">
			    	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars fa-settings" aria-hidden="true"></i><span class="caret"></span></a>
		          <ul class="dropdown-menu drop-menu">
		            <li><a href="#">Peguntas Frequentes</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="/Home/Usuario">Configurações</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="/Home/Sair"><i class="fa fa-minus-circle" aria-hidden="true"></i> Sair</a></li>
		          </ul>
		        </li>
		    </div>
		</div>
	</header>

	@RenderBody()
</body>
</html>
