@model TaskQuest.ViewModels.LinkViewModel

@model TaskQuest.ViewModels.LinkViewModel

<form id="@Model.Id" action="@Model.Action" method="post">
    <input type="hidden" value="@Model.Hash" />
</form>