@model TaskQuest.ViewModels.LoginViewModel
<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-right inputs">
		@using (Html.BeginForm("Login", "Home", FormMethod.Post)) {
			<li>@Html.TextBoxFor(m => m.Email, new { @class="form-control login", @placeholder="Email" })</li>
			<li>@Html.TextBoxFor(m => m.Senha, new { @class="form-control login", @placeholder="Senha" })</li>
			<li>
				<input type="submit" class="btn btn-primary btn-lg btn-header darkblue-bg" value="Entrar">
				<a href="" id="forget">Esqueceu sua senha?</a>
			</li>
		}
	</ul>
</div>